/* body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0;
  }

  header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    width: 100%;
  } */

  .flexbox {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }

  .flex-container {
    display: flex;
    justify-content: space-between;
  }

  .flex-container > a {
    color: white;
    text-decoration: none;
    border: 2px solid blue;
    border-radius: 15px;
    background-color: blue;
    padding: 8px 4px;
    display: flex; /* Adiciona display flex */
    align-items: center; /* Centraliza verticalmente */
    justify-content: center; /* Centraliza horizontalmente */
  }

  .container-vaga {
    display: flex;
    height: 80vh;
    justify-content: center;
    align-items: center;
  }

  .entrada-inf {
    display: flex;
    justify-content: space-between;
  }

  .entrada {
    border: 2px solid green;
    padding: 4px 8px;
    
  }

  .saida {
    border: 2px solid blue;
    padding: 4px 8px;
  }

  .parking-index {
    display: flex;
    flex-direction: column;
  }
  .parking-lot {
    display: flex;
    gap: 40px;
    margin-top: 40px;
  }

  .down {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .up {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .middle {
    display: flex;
  }

  .parking-space {
    width: 50px;
    height: 50px;
    color: black;
    border: 1px solid #333;
    text-align: center;
    line-height: 50px;
    font-size: 14px;
    background-color: #eee;
    transition: background-color 0.3s ease;
    margin-bottom: 5px;
  }

  .parking-space-occupied {
    background-color: #44d0fc;
    color: white;
  }

@media screen and (max-width: 480px) {
  .container-vaga {
    width: 50%;
    margin: 0 auto;
  }

  .parking-space {
    width: 45px;
    height: 45px;
  }
}