<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bootstrap Components</title>
  <link rel="stylesheet" href="css/Newstyle.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
  <style>
    .feature-icon {
      width: 4rem;
      height: 4rem;
      border-radius: .75rem;
     }
  </style>
</head>

<body>
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="/"><img src="/resources/car-front-fill.svg" alt="Move It Logo" height="30" style="margin-right: 10px;">SmartPark</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/vagas">Vagas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/sensor">Reservar Vaga</a>
          </li>
        </ul>
        
      </div>
    </div>
  </nav>

  <h1>Rervar Vaga</h1>

  <div class="center-container">
    <div class="parking-container">
      <% for (let row = 1; row <= 6; row++) { %>
        <% for (let col = 1; col <= 5; col++) { %>
          <div class="parking-space" id="<%= (row - 1) * 5 + col %>">
            <%= (row - 1) * 5 + col %>
          </div>
        <% } %>
      <% } %>
    </div>
  </div>

  <div class="container">
    <footer class="row row-cols-1 row-cols-sm-2 row-cols-md-5 py-5 my-5 border-top">
      <div class="col mb-3">
        <a href="/" class="d-flex align-items-center mb-3 link-body-emphasis text-decoration-none">
          <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
        </a>
        <p class="text-body-secondary">© 2023</p>
      </div>
      <div class="col mb-3"></div>
      <div class="col mb-3">
        <h5>Section</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Home</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Features</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Pricing</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">FAQs</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">About</a></li>
        </ul>
      </div>
      <div class="col mb-3">
        <h5>Section</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Home</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Features</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Pricing</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">FAQs</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">About</a></li>
        </ul>
      </div>
      <div class="col mb-3">
        <h5>Section</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Home</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Features</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Pricing</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">FAQs</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">About</a></li>
        </ul>
      </div>
    </footer>
  </div>
  <script>
    // Função para obter o estado atual das vagas da API
    async function getVagaStatus() {
  try {
    const response = await fetch("http://localhost:3002/loadVagas");

    const vagas = await response.json();
    return vagas;
  } catch (error) {
    console.error("Erro ao obter o estado das vagas:", error);
    throw error;
  }
}


    // Função para verificar e atualizar o estado das classes
    async function checkAndUpdateVagaStatus() {
      const vagas = await getVagaStatus();

      // Itera sobre as vagas e atualiza as classes
      vagas.forEach((vaga) => {
        const element = document.getElementById(vaga.id.toString());

        if (element) {
          // Remove a classe se estiver presente e a vaga estiver desocupada
          if (!vaga.occupied && element.classList.contains("parking-space-occupied")) {
            element.classList.remove("parking-space-occupied");
          }

          // Adiciona a classe se a vaga estiver ocupada
          if (vaga.occupied && !element.classList.contains("parking-space-occupied")) {
            element.classList.add("parking-space-occupied");
          }
        }
      });
    }

    // Função principal para executar a verificação a cada 5 segundos
    function startChecking() {
      setInterval(checkAndUpdateVagaStatus, 3000);
      console.log("Erro");
    }

    // Chama a função principal para iniciar a verificação após o carregamento da página
    document.addEventListener("DOMContentLoaded", function () {
      startChecking();
    });
  </script>

<script>
    // ... (código anterior) ...
  
    // Função para lidar com o clique em uma vaga de estacionamento
    async function handleParkingSpaceClick(id) {
      console.log("Clicou na vaga com ID:", id);
      const response = await fetch("http://localhost:3002/updateVaga/" + id);

      // Adicione aqui a lógica que deseja executar ao clicar na vaga
    }
  
    // Função principal para executar a verificação a cada 5 segundos
      
      // Adiciona o evento de clique às vagas de estacionamento
      const parkingSpaces = document.querySelectorAll(".parking-space");
      parkingSpaces.forEach((space) => {
        space.addEventListener("click", function () {
          const id = this.id;
          handleParkingSpaceClick(id);
        });
      });
  </script>
  
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>

</html>
